@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,500;1,500&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter Tight', sans-serif;
}

@media (min-width: 1280px) {
  .wapper {
    width: 1200px;
    margin: 0 auto; 
  }
}

.title {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  line-height: 110%;
  background: linear-gradient(90deg, #F0FFF9 0%, #F0FFF999 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle {
  padding: 6px 0;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  background: linear-gradient(90deg, #F0FFF9 0%, #F0FFF999 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.BTN{
  padding: 8px 16px;
  border: 1px solid #999D9A;
  border-radius: 30px;
  font-size: 16px;
}

.BTNWhite {
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 30px;
  border: 2px solid #999D9A;
  background-color: #FFFFFF;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.BTNWhite:hover {
  background-color: #040B06;
  color: white;
  border: 2px solid #040B061A;
}

.BTNBlack {
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 30px;
  border:2px solid #040B061A;
  background-color: #040B06;
  color: white;
  
  font-size: 18px;
  font-weight: 500;
}

.BTNBlack:hover {
  background-color: #FFFFFF;
  color: black;
  border: 2px solid #999D9A;
}

.customLink {
  color: #3E4440;
  transition: all 300ms ease-in-out 150ms;
  text-decoration: none;
  
}

.customLink:hover {
  margin-left: 10px;
  color: black;
  font-weight: bold;
  transform: translateY(-4px) scale(1.10);
  text-decoration: underline;
  text-underline-offset: 2px;
}




/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */