@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,500;1,500&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter Tight', sans-serif;
}
.wapper {
    width: 1200px;
  }

.BTN{
  padding: 8px 16px;
  border: 1px solid #999D9A;
  border-radius: 30px;
  font-size: 16px;
}

.BTNWhite {
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 30px;
  border: 2px solid #999D9A;
  background-color: #FFFFFF;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.BTNWhite:hover {
  background-color: #040B06;
  color: white;
  border: 2px solid #040B061A;
}

.BTNBlack {
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 30px;
  border:2px solid #040B061A;
  background-color: #040B06;
  color: white;
  
  font-size: 18px;
  font-weight: 500;
}

.BTNBlack:hover {
  background-color: #FFFFFF;
  color: black;
  border: 2px solid #999D9A;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */